html {
  font-size: clamp(14px, 2vw, 18px);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4e2a18;
  background-color: #fefaf3;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(24px, 5vw, 40px);
}

h2 {
  font-size: clamp(20px, 4vw, 32px);
}

h3 {
  font-size: clamp(18px, 3.5vw, 28px);
}

p, a, li {
  font-size: clamp(14px, 2vw, 18px);
}

header {
  background-color: #4b3621;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #f9f5f0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4d3012;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #5c1c08;
  padding: 80px 20px;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}

.hero h1 {
  position: relative;
  z-index: 2;
  font-size: 2.8rem;
  text-shadow: 2px 2px 4px #000;
}

.container {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4b3621;
}

.container p {
  margin-bottom: 15px;
}

.banner-topo {
  width: 100%;
  overflow: hidden;
  color: #4e2a18;
}


.area-baloes {
  position: relative;
  width: 100%;
  height: 650px;
  margin: 40px 0;
}

.balao-pergunta {
  display: inline-block;
  background-color: #f3e5ab;
  color: #772918;
  padding: 15px 20px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  position: absolute;
  z-index: 10;
  transition: transform 0.3s ease;
}

.balao-pergunta:hover {
  transform: scale(1.05);
}

.flutuante {
  animation: flutuar 5s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.balao1 {
  top: 8%;
  left: 8%;
}
.balao2 {
  top: 8%;
  right: 8%;
}
.balao3 {
  top: 60%;
  left: 10%;
}
.balao4 {
  top: 60%;
  right: 10%;
}

@media (max-width: 768px) {
  .area-baloes {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .balao-pergunta {
    position: static;
    display: block;
    width: 10%;
    margin: 10px 0;
    text-align: center;
  }
}

footer {
  background-color: #72471c;
  color: #4e2a18;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  margin-top: 40px;
  }
